<section id="bugListTable">
  <div class="container table-responsive-lg">
    <table class="table  table-dark">
      <thead>
        <tr class="text-center">
          <th (click)="sortTheBugs('title')" scope="col" class=" table-head border-top-none">Title <span
            *ngIf="stateColumn === 'title'"> <span *ngIf="stateDirection ===2">
              <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
            </span> <span *ngIf="stateDirection === 1">
              <fa-icon [icon]="faLongArrowAltDown"></fa-icon>
            </span></span></th>
            <th (click)="sortTheBugs('status')" scope="col" class="table-head border-top-none">Status <span
              *ngIf="stateColumn === 'status'"> <span *ngIf="stateDirection ===2">
                <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
              </span> <span *ngIf="stateDirection === 1">
                <fa-icon [icon]="faLongArrowAltDown"></fa-icon>
              </span></span></th>
              <th (click)="sortTheBugs('priority')" scope="col" class="table-head border-top-none">Priority <span
                *ngIf="stateColumn === 'priority'"> <span *ngIf="stateDirection ===2">
                  <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
                </span> <span *ngIf="stateDirection === 1">
                  <fa-icon [icon]="faLongArrowAltDown"></fa-icon>
                </span></span></th>
                <th (click)="sortTheBugs('reporter')" scope="col" class="table-head border-top-none">Reporter <span
                  *ngIf="stateColumn === 'reporter'"> <span *ngIf="stateDirection ===2">
                    <fa-icon [icon]="faLongArrowAltUp"></fa-icon>
                  </span> <span *ngIf="stateDirection === 1">
                    <fa-icon [icon]="faLongArrowAltDown"></fa-icon>
                  </span></span></th>
                  <th scope="col" class="border-top-none no-select" style="font-size: 1.5rem;">Date Created </th>
                  <th scope="col" class="border-top-none">
                    <div class="container ">

                      <div class="row" style="margin-right:0.2rem;">
                        <div class="col-12 col-md-5 mr-1 d-flex  justify-content-around">
                          <span>
                            <fa-layers [fixedWidth]="true" id="addBugIcon">
                              <fa-icon [icon]="faCircle" class="pl-0 ml-0"></fa-icon>
                              <fa-icon [icon]="faPlusCircle"></fa-icon>
                            </fa-layers>
                          </span>
                        </div>
                        <div class="col-12 col-md-5 justify-content-around">
                          <span (click)="syncBugs()">
                            <fa-layers [fixedWidth]="true" id="syncBugIcon" class="pl-1">
                              <fa-icon [icon]="faCircle" class="pl-0 ml-0"></fa-icon>
                              <fa-icon [icon]="faSyncAlt" transform="shrink-6"></fa-icon>
                            </fa-layers>
                          </span>
                        </div>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let bug of bugList;let i=index;">
                <tr  class="text-center">
                  <td [title]="bug.title">{{ (bug.title && bug.title.length>20)? (bug.title | slice:0:17)+'...':bug.title}}</td>
                  <td>
                    <span *ngIf="bug.status ==='Done'"> <fa-icon [icon]="faCheck" title="Done"></fa-icon> </span>
                    <span *ngIf="bug.status ==='Rejected'"> <fa-icon [icon]="faTimes" title="Rejected"></fa-icon> </span>
                    <span *ngIf="bug.status ==='Ready for test'"> <fa-icon [icon]="faExclamation" title="Ready for test"></fa-icon> </span>
                    <span *ngIf="bug.status ==='Pending'"> Pending... </span>
                    <span *ngIf="bug.status !=='Done' && bug.status !=='Rejected' && bug.status !=='Ready for test' && bug.status !=='Pending'"> Not Valid </span>
                  </td>
                  <td>
                    <span *ngIf="bug.priority === 1" style="color: yellow;"> Minor </span>
                    <span *ngIf="bug.priority === 2" style="color: orange;"> Major </span>
                    <span *ngIf="bug.priority === 3" style="color: rgb(255, 42, 42);"> Critical </span>
                    <span *ngIf="bug.priority > 3 || bug.priority < 1" style="color: rgb(255, 42, 42);"> Not Valid </span>
                  </td>
                  <td>{{bug.reporter}}</td>
                  <td >{{bug.createdAt | date}}</td>
                  <td>
                    <div class="container" id="edit-comment-icons">
                      <div class="row">
                        <div class="col-12 col-md-5 mr-1 d-flex  justify-content-around">
                          <span (click)="editBug(bug.id)">
                            <fa-layers [fixedWidth]="true" id="editBugIcon">
                              <fa-icon [icon]="faCircle"></fa-icon>
                              <fa-icon [icon]="faPencilAlt" transform="shrink-7"></fa-icon>
                            </fa-layers>
                          </span>
                        </div>
                        <div class="col-12 col-md-5">
                          <span (click)="changeCollapseStatus(i)">
                            <fa-layers [fixedWidth]="true" id="commentBugIcon">
                              <fa-icon [icon]="faCircle"></fa-icon>
                              <fa-icon [icon]="faComment" transform="shrink-5"></fa-icon>
                            </fa-layers>
                          </span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="!collapsedRow[i]">
                  <td colspan="6" style="border-right: none !important;">
                    <div id="collapseExample" [ngbCollapse]="collapsedRow[i]">
                      <div class="bg-dark p-4">
                        <div>
                          <div class="row mb-2">
                            <div class="col-3">
                              <span class="text-light">Name</span>
                            </div>
                            <div class="col-9">
                              <span class="text-light">Comment</span>
                            </div>
                          </div>
                          <div *ngFor="let comment of bug.comments">
                            <div class="row">
                              <div class="col-3">
                                <span class="text-light">{{comment.reporter}}</span>
                              </div>
                              <div class="col-9">
                                <span class="text-light">{{comment.description}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="container d-flex">
              <p class="small text-white ml-auto">Table autosynch: {{syncTime}}</p>
            </div>

        </section>

