/* table {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.table td {
  vertical-align: middle;
}

.border-top-none {
  border-top: none;
}


thead fa-icon {
  position: relative;
}


tbody td:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 230px !important;
}

tbody td:nth-of-type(2) {
  width: fit-content;
  max-width: 50px !important;

}


tbody td:nth-of-type(3) {
  width: fit-content;
  max-width: 50px !important;
}

tbody td:nth-of-type(4) {
  width: fit-content;
  max-width: 50px !important;
}

tbody td:nth-of-type(5) {
  width: fit-content;
  min-width: 192px !important;
}

tbody td:nth-of-type(6) {
  width: fit-content;
  min-width: 135px;
  border-right: none !important;
}

tbody th,
td {
  border-right: 1px solid #454d55 !important;
  width: 222px;
}

.table-head {
  font-size: 1.5rem;

}

thead tr th {
  font-weight: 400 !important;
}

.table-head:hover {
  text-shadow: 0px 0px 3px #fff;
  cursor: pointer;
}

fa-icon {
  padding-left: 4px;
}

fa-icon:hover {
  cursor: pointer;
}

#addBugIcon fa-icon,
#syncBugIcon fa-icon {
  font-size: 2.2rem;
}

#addBugIcon fa-icon:nth-of-type(2) {
  color: #28a745;
}

#syncBugIcon fa-icon:nth-of-type(1) {
  color: #0059ff
}

#editBugIcon fa-icon {
  font-size: 2.3rem;
}

#editBugIcon fa-icon:nth-of-type(1) {
  color: #727272;
}

#commentBugIcon fa-icon {
  font-size: 2.3rem;
}

#commentBugIcon fa-icon:nth-of-type(1) {
  color: #727272;
}

#edit-comment-icons fa-layers {
  vertical-align: middle !important;
} */


/* New code */
button{
  border-radius: 32px;
  width: 40px;
  height: 40px;
}

img{
  width: 39px;
  height: 39px;
  margin-top: -6px;
  margin-left: -12px;
}

.bg-deepdark {
  background-color: #272727;
  /* Calculating the height of main component substracting the header and footer from the viewport */
  min-height: calc(100vh - 177px);
}

.n_header{
  font-size: 1.5em;
  font-weight: 400 !important;
}
.n_header:hover {
  text-shadow: 0px 0px 3px #fff;
  cursor: pointer;
}
.n_date{
  font-size: 1.5em;
  font-weight: 400 !important;
}
.n_titles{
  font-size: 1.2em;
  font-weight: 400 !important;
}
.n_info{
  font-size: 1.2em;
  font-weight: 300;
}
.n_container{
  border-radius: 32px;
}
.n_comment{
  background-color: #272727;
  border-radius: 16px;
  border: 3px solid #454d55;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -58px;
  padding-top: 58px !important;
  padding-bottom: 8px;
  margin-bottom: -1px;
}
.n_row{
  margin-left: 0px;
  margin-right: 0px;
}
.n_search{
  border-radius: 32px;
  width: 50px;
  height: 50px;
}
.n_img{
  width: 32px !important;
  height: 32px !important;
  margin-top: 1px !important;
  margin-left: -4px !important;
}
.n_search_con{
  background-color: #27535a;
  border-radius: 32px;
  border: 3px solid #17a2b8;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -50px;
}
.n_filter{
  border-radius: 32px;
}
.n_button{
  width: -webkit-fill-available;
  height: auto;
  font-size: 1.2em;
}

